PUID=1000
PGID=1000
TZ=Europe/Bratislava
TRANSMISSION_USER=changeme
TRANSMISSION_PASS=changeme
DATA_ROOT=/srv/data
CONFIG_ROOT=/srv/docker

# See ProtonVPN account -> Downloads -> WireGuard configuration to get these.
# Platform: Router. Enable NAT-PMP (Port Forwarding) when generating the config.
PROTONVPN_WIREGUARD_PRIVATE_KEY=
PROTONVPN_WIREGUARD_ADDRESSES=
PROTONVPN_SERVER_COUNTRY=Czech Republic
